<li>
    <ul>
        <li><%= link_to church.name, church_path(church) %></li>
        <li><%= link_to "Church details", church %></li>
        <li><%= link_to "delete", church, method: :delete %></li>
    </ul>
</li>